<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rechercher une formation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-fab-button>
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/java.jpg" alt="logo-python" class="img">
    </ion-card-header>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Apprende à programmer en JAVA</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      Cette formation est une intoduction au langage python.
      Elle vous permet de créer votre première application python et se familiarisé avec cette langage.
    </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="../../assets/images//cloud.jfif" alt="logo-python" class="img">
      </ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Le monde du cloud</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        Cette formation est une intoduction au langage python.
        Elle vous permet de créer votre première application python et se familiarisé avec cette langage.
      </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/python.png" alt="logo-python" class="img">
        </ion-card-header>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Python: Les ABC</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-content>
          Cette formation est une intoduction au langage python.
          Elle vous permet de créer votre première application python et se familiarisé avec cette langage.
        </ion-card-content>
      
      </ion-card>
     
      <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Rechercher une formation</ion-title>
    </ion-toolbar> -->
  </ion-header>
<!-- <app-explore-container name="Rechercher une formation page"></app-explore-container> -->
</ion-content>
